.row
  .col-xs-12
    .bread-crumb
      h5
        a(href='#/') Accounts
        span= ' / '
        span {{ account.display_name }}
h4 Current Information
p
  span= '- '
  strong {{ month_name }} balance: 
  span {{ sum_transactions(account) | currency: $ }}
h4 History
div(ng-show='transactions.length > 0')
  input(type='text',ng-model='filterOptions.filterText',placeholder='Filter...',style='margin-bottom:10px')
  div(ng-grid='transactionGrid',class='grid-style')
div(ng-hide='transactions.length > 0')
  span No transactions to show yet.
.row.titleRow: .col-xs-12: h4 Transaction Entry
.row
  .col-sm-2: label(for='tran_date') Date
  .col-md-3: input(type='text',id='tran_date',name='tran_date',data-ng-model='newTransaction.tran_date',jqdatepicker='')
  .col-sm-2: label(for='category') Category
  .col-md-3: input(type='text',id='category',name='category',data-ng-model='newTransaction.category')
.row
  .col-sm-2: label(for='description') Description
  .col-md-3: input(type='text',id='description',name='description',data-ng-model='newTransaction.description')
  .col-sm-2: label(for='amount') Amount
  .col-md-3: input(type='text',id='amount',name='amount',data-ng-model='newTransaction.amount',decimal-input)
.row: .col-sm-12: input(type='button',value='Add',ng-click='insertTransaction();')
