.row
  .col-xs-12
    .bread-crumb
      h5 Accounts
div(ng-repeat='account in accounts')
  .row
    .col-lg-12
      a(ng-href='#/accounts/{{account._id}}')
        h3 {{ account.display_name }}
  .row
    .col-xs-12
      span Cash Flow ({{ month_name }}): {{ sum_transactions(account) | currency: $ }}
br
h4 New Account
span Create as many additional accounts as you need.
.row
  .col-sm-12
    span
      label(for='display_name') Account Name
    br
    span
      input(type='text' id='display_name',name='display_name',data-ng-model='newAccount.display_name',style='width:250px;')
    span=' '
    input(type='button',value='Add',ng-click='createAccount();')