.row
  .col-xs-12
    .bread-crumb
      h5 Welcome
p Add your first account to get started.
.row
  .col-sm-12
    span
      label(for='display_name') Account Name
    br
    span
      input(type='text' id='display_name',name='display_name',data-ng-model='newAccount.display_name',style='width:250px;')
    span=' '
    input(type='button',value='Add',ng-click='createAccount();')