extends layout
block login
  img(src='#{user.photoUrl}',style='width:48px;border:1px solid #0866AF')
block content
  .ng-scope(data-ng-app='main', data-ng-controller='RootController')
    div(data-ng-view='')
