html,body{padding:0;margin:0;}
p, ul, ol{font-size:1.3em;}
hr{border-color:#08375B;}
h1, h2, h3{font-family: "segoe ui",sans-serif; font-style: normal;}
h1{ color:#0866AF;}
h2{font-weight: 100; color: #0866AF; text-transform: uppercase;}
h3,h4{color:#08375B; padding:0; }
body {background-color: #0866AF;}
h4,.altRow div[class*='col-'] {background-color: #D0DAFF; }
h4 {padding:3px;}

.bread-crumb{background-color: #F0F5FF; border: 1px solid #CCC; margin:0; padding:0 5px; line-height: 10px; }
a {color:#228CDE;}
a:hover{color:#0866AF;}
label { font-size:14px;}
.site-main{padding: 2% 0;}
.home .site-main {padding: 5% 15px; padding-top:2%;}
#copyright{color: #ffffff; text-align: center; padding: 1% 0; background-color: #08375B; font-size: 1em;}
#header { background-color: #0866AF; margin-top: 10px; padding-top: 10px; }
.site-branding { background-color: #228CDE; padding: 10px; }

#page { background-color: #fff; }

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {

	h1 {
		font-size: 1.8em;
	}
  
	p {font-size: 1em;}
}

@media (max-width: 400px) {
  img {width: 100%;}
}

div[class*='col-']{margin-bottom:3px;}
.grid-style {
    border: 1px solid rgb(212,212,212);
    
    overflow-x: hidden;
}